@import "base";
@import "button";
@import "type";
@import "dark";
@import "icons";

.header-right p {
  margin-bottom: 3px;
}

.header-right a{
  color:inherit;
  font-weight:500;
}

@media screen and (max-width: 767px) {
  .header-container div{
    text-align: center;
  }

  .header-right p {
    text-align: center;
  }

  .header-left {
    margin-top: 0px;
  }
}

.profile-img.circle {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

.profile-img.squircle {
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  user-select: none;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='88px' height='88px' viewBox='0 0 88 88' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cpath d='M44%2c0.5 C59.8650505%2c0.5 70.7664452%2c3.40244096 77.6820021%2c10.3179979 C84.597559%2c17.2335548 87.5%2c28.1349495 87.5%2c44 C87.5%2c59.8650505 84.597559%2c70.7664452 77.6820021%2c77.6820021 C70.7664452%2c84.597559 59.8650505%2c87.5 44%2c87.5 C28.1349495%2c87.5 17.2335548%2c84.597559 10.3179979%2c77.6820021 C3.40244096%2c70.7664452 0.5%2c59.8650505 0.5%2c44 C0.5%2c28.1349495 3.40244096%2c17.2335548 10.3179979%2c10.3179979 C17.2335548%2c3.40244096 28.1349495%2c0.5 44%2c0.5 Z' fill='none' stroke='rgba(0,0,0,0.08)'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .svg-profile {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.list-container {
  h3 {
    margin-bottom: 0;
  }
}

.border-weak  {
  padding-bottom: 8px;
  border-bottom: dashed 1px #CCCCCC;
}

.layout {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  .details {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    vertical-align: middle;

    p {
      margin-bottom: 3px;
      font-size: 1.6rem;
      text-align: inherit;
      font-weight: 300;

      b {
        font-weight: 500;
      }
    }

    @media screen and (max-width: 767px) {
      text-align: center!important;

      p {
        text-align: center!important;
      }
    }

    a {
      color: inherit;
      font-style: italic;
      font-weight: 300;
    }

    .fa {
      font-size: 2rem;
    }

    .link {
      font-size: 1.5rem;
    }

    h4 {
      margin-bottom: 0.1rem;
      font-weight: 500;

      @media print {
        margin-bottom: 0.2rem;
      }

      a {
        font-weight: 500;
      }
    }
  }
}

.layout-right {
  flex-direction: row-reverse;
}

.layout-right, .layout-top-right {
  .details {
    text-align: right;
  }
}

.layout-left, .layout-right {
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  .details {
    margin-bottom: 2rem;
  }
}

.layout-top-middle, .layout-top, .layout-top-right {
  flex-direction: column;

  .details, .content {
    width: 100%;
  }
}

.layout-top-middle {
  .details {
    text-align: center;
  }
}

.footer-container {
  margin-top:100px;
}

.footer-container p {
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer-container a {
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.page-content {
  padding: 0;
}

.contact a {
  line-height: 50px;
  margin-left: 30px;
  color: #BBBBBB;
  -webkit-transition: color 0.4s ease;
  -moz-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.contact a:hover {
  color: #4C4C4C;
}

p.quote {
  font-size: 1.4rem;
  font-style: italic;
  padding: 1rem 2.5rem;
  text-align: center;

  @media print {
    text-align: left;
    padding: 0rem 1rem;
    margin-top: 1rem;
  }
}
