---

---

@charset "utf-8";


// define variable with front matter
{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

$theme-color: #FFFFFF;
$text-color: #3F4650;
$text-color-secondary: #545E6C;
$text-grey: #738091;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;

@import "default"; // main partials
